@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
:root {
  --bg: #0b1220;
  --card: #071425;
  --text: #e6eef6;
  --accent: #2563eb;
}

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: var(--text);
}





